<div  class="jumbotron">
    <div style="padding-bottom: 15rem;" class="container">
        <div class="row">
            <div style="padding-left: 280px;">
    
                <div *ngIf="success" class="alert alert-success">
                    <strong>Success!  {{print}} </strong>
                </div>
                <div *ngIf="!success"class="alert alert-danger">
                    <strong>Alert!!!  {{print}}</strong>
                </div>
            </div>
        </div>
        
    </div>
</div>




