<div  style="padding-bottom: 11rem;
background-image: url('./assets/new1.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;"class="jumbotron">

<div style="padding-bottom: 15rem;" class="container">
    <div class="row">
        <div class="">
            <div style="padding-left: 350px;" class="form-group">
                <div style="padding-top: 50px;">
                    <button  class="btn btn-primary" (click)="page1()">Patient Dropout</button>
                <span style="padding-left:150px;"></span>
                <button  class="btn btn-primary" (click)="page2()">Patient Enrollment</button>

                </div>
                
            </div>
        </div>
    </div>
</div>

</div>



