.first {
  display: flex;
  flex-wrap: wrap;
}
.first > div {
  width: 300px;
  margin: 30px;
  
}
.form-group > label {
  
    font-size: 18px;
    font-weight: bold;
    font-family: "Lucida Sans", serif;
}
.form-group > input {
  background-color: #f9fcfb;
}
.form-group > select {
background-color: #f9fcfb;
}
/* .child{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.child > p {
width: 30px;
margin: 30px;

} */

.but{
width: 300px;
font-weight: bold;
    font-family: "Lucida Sans", serif;
}